<div class="card">
    <p-toast></p-toast>
    <div class="flex justify-content-center">
        <p class="text-lg md:text-6xl m-0 mb-3">
            Cadastro de Pessoas
        </p>
    </div>
    <ng-container
    *ngIf="persons$ | async as persons">
{{ persons | json }}
    <!-- <div class="container">
        <table>
            <th>ID</th>
            <th>Name</th>
            <tbody>
            <tr *ngFor="let person of persons.data">
                <td>{{person.id}}</td>
                <td>{{person.name}}</td>
            </tr>
            </tbody>
        </table>
    </div> -->
</ng-container>
    <!-- {{ persons$ | async }} -->
    <!-- <ng-container *ngIf="{
        persons: persons$ | async,
    } as data">
    {{data}}
    </ng-container> -->
    <!-- <div class="flex justify-content-center">
        <p>
            Clique no ícone <span class="p-button-icon pi pi-chevron-right"></span> , na linha de cada pessoa da tabela, para expandir os contatos de cada pessoa
        </p>
    </div>
    <div class="flex justify-content-center">
        <p-table #dt [value]="persons" [rowHover]="true" [rows]="5" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
            [tableStyle]="{ 'min-width': '75rem' }"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [rowHover]="true" dataKey="id" [(selection)]="selectedPersons"
            currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros."
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                    <button pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt)"></button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                            placeholder="Pesquisar" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>
                    <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="name">Nome<p-sortIcon field="name"></p-sortIcon></th>
                    <th>Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="person"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>
                        <button pButton pRipple label="" icon="pi pi-trash" class="p-button-danger mr-1"
                            (click)="delete(person.id)"></button>
                        <button pButton pRipple label="" icon="pi pi-pencil" class="p-button mr-1"
                            (click)="editPerson(person)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-person>
                <tr>
                    <td colspan="7">
                        <div class="p-3">
                            <p-table [value]="person.contacts" dataKey="id">
                                <ng-template pTemplate="caption">
                                    <div class="flex">
                                        <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-success mr-2"
                                            (click)="openNewContact(person.id)"></button>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                                        <th pSortableColumn="phone">Telefone <p-sortIcon field="phone"></p-sortIcon></th>
                                        <th pSortableColumn="whatsapp">Whatsapp <p-sortIcon field="whatsapp"></p-sortIcon></th>
                                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                                        <th>Ação</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-contact>
                                    <tr>
                                        <td>{{ contact.id }}</td>
                                        <td>{{ contact.phone }}</td>
                                        <td>{{ contact.whatsapp }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>
                                            <button pButton pRipple label="" icon="pi pi-trash" class="p-button-danger mr-1"
                                                (click)="deleteContact(contact.id)"></button>
                                            <button pButton pRipple label="" icon="pi pi-pencil" class="p-button mr-1"
                                                (click)="editContact(contact)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">Não há contatos para mostrar.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="personDialog" [style]="{ width: '450px' }" header="Pessoa" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Nome</label>
                <input type="text" pInputText id="name" [(ngModel)]="person.name" required autofocus placeholder="Digite o nome" />
                <small class="p-error" *ngIf="submitted && !person.name">Nome é obrigatório.</small>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" [loading]="btnLoading"
                loadingIcon="pi pi-bell" (click)="hideDialog()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="savePerson()"
                [loading]="btnLoading" loadingIcon="pi pi-bell"></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="contactDialog" [style]="{ width: '450px' }" header="Contato" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="phone">Telefone</label>
                <p-inputMask id="phone" mask="(99) 999999999" [(ngModel)]="contact.phone" placeholder="Digite o telefone" [required]="true" autofocus></p-inputMask>
                <small class="p-error" *ngIf="submittedContact && !contact.phone">Telefone é obrigatório.</small>
            </div>
            <div class="field">
                <label for="whatsapp">Whatsapp</label>
                <p-inputMask id="whatsapp" mask="(99) 999999999" [(ngModel)]="contact.whatsapp" placeholder="Digite o whatsapp" [required]="true" autofocus></p-inputMask>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" pInputText id="email" [(ngModel)]="contact.email" required autofocus
                    placeholder="Digite o email" />
                <small class="p-error" *ngIf="submittedContact && !contact.email">Email é obrigatório.</small>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" [loading]="btnLoading"
                loadingIcon="pi pi-bell" (click)="hideDialog()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveContact()"
                [loading]="btnLoading" loadingIcon="pi pi-bell"></button>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog> -->
</div>